# Python
__pycache__/
*.py[cod]
*.env
venv/
.env

# Node / React
node_modules/
build/
dist/
npm-debug.log*
yarn-error.log*

# Next.js (frontend)
frontend/.next/
frontend/.env.local

# VSCode
.vscode/

# Mac / Linux
.DS_Store
*.swp
